@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;600;800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
}

h1, h2 {
    color: rgb(207, 71, 116);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}


#bookForm,
#bookList {
  width: 550px;
  max-width: 80%;
  margin: 20px auto;
}

#bookList {
    margin-top: 50px;
}

#bookList {
  margin-bottom: 50px;
}

input {
  display: block;
  padding: 6px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 5px;
  width: 100px;
  box-shadow: 2px 2px 2px 2px rgb(82, 82, 82);
  background-color: rgb(207, 71, 116);
  border: none;
  color: white;
  border-radius: 3px;
}

.delete {
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px rgb(85, 85, 85)
}


.bookName,
.bookAuthor {
  padding: 10px;
}

.book-container {
    border: 3px solid white;
    padding: 20px;
}

.book {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bookForm h2{
    text-align: center;
    margin-bottom: 10px;
}

.addBook div {
    text-align: right;
}


