@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;600;800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #eee;
}

h1,
h2 {
  color: #999;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#bookForm,
#bookList {
  width: 550px;
  max-width: 80%;
  margin: 20px auto;
}

#bookList {
  margin-top: 50px;
  margin-bottom: 50px;
}

input {
  display: block;
  padding: 6px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
}

button {
  padding: 10px 5px;
  width: 100px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.9);
  background-color: #e90074;
  border: none;
  color: white;
  border-radius: 3px;
}

.delete {
  margin-bottom: 10px;
}

.bookName,
.bookAuthor {
  padding: 10px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  color: #555
}

#bookForm h2 {
  text-align: center;
  margin-bottom: 10px;
}

.addBook div {
  text-align: right;
}

#addBook {
  background-color: #00ce89;
}
